* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}
.intro .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}
.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -7px;
  color: white;
}

.content {
  height: 100vh;
  color: black;
}

.content h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}
